body {
	font-family: sans-serif;
	background-color: lightgray;
}
div.container {
	width: 900px;
	margin: auto;
}
div.header {
	background-color: black;
	text-align: center;
	border-radius: 15px 15px 0 0;
}
div.header div.logo_container {
	position: relative;
	display: inline-block;
	height: 120px;
}
div.header div.logo_container a {
	color: white;
	text-decoration: none;
	text-shadow: 0 0 10px cyan;
	font-size: 100px;
	font-weight: bold;
	transition: text-shadow 0.5s;
}
div.header div.logo_container a:hover {
	text-shadow: 0 0 15px cyan;
}
div.header div.logo_container div.hometip {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100px;
	height: 12px;
	top:49px;
	right: -130px;
	padding: 5px;
	border-radius: 5px;
	color: white;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 10px;
}
div.header div.logo_container:hover div.hometip {
	opacity: 1;
}
div.loginbar {
	text-align: right;
	background-color: grey;
	color: lightgrey;
	font-size: 12px;
	padding: 5px;
}
div.loginbar a {
	color: white;
	text-decoration: none;
}
div.content {
	background-color: white;
	padding: 15px;
}
div.footer {
	background-color: gray;
	text-align: center;
	color: white;
	border-radius: 0 0 15px 15px;
	padding: 15px;
}
table {
	border-collapse: collapse;
	width: 100%;
	border-color: gray;		
}
table tr td, table tr th {
	padding: 5px;
}
table tr th {
	background-color: lightgray;
	color: white;
}
table, td, th {    
	border: 1px solid lightgray;
}
form.search {
	display: inline;
	position: absolute;
	right: 0;
}
form.search input {
	margin-top: 0;
}
span.title {
	font-weight: bold;
	font-size: 18px;
}
div.top {
	position: relative;
	margin-bottom: 5px;
}
div.pagination {
	text-align: center;
	margin: 5px;
}
input, select {
	margin: 5px;
}